carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.carousel img {
  flex: 0 0 auto;
  width: 90%;
  height: 100px;
  margin-right: 10px;
  scroll-snap-align: center;
}


